@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-white: #fff;
  --color-black: #000;
  --bg-input-text: #f4f4f5;
  --bg-primary: #fff;
  --bg-secondary: #f6f6f7;
  --bg-block: #e8e8ea;
  --bg-brand: #4b6bfb;
  --bg-tag: #f6f7ff;
  --bg-icon-link: #696a75;

  --tag-block: #4b6bfb;
  --text-primary: #181a2a;
  --text-secondary: #696a75;
  --text-header: #3b3c4a;
  --text-muted: #97989f;
  --text-content: #3b3c4a;

  --border-block: #e8e8ea;

  --box-shadow-block: 0 12px 24px rgba(24, 26, 42, 0.3);

  --text-size-xs: 14px;
  --text-size-sm: 16px;
  --text-size-md: 18px;
  --text-size-lg: 20px;
  --text-size-xl: 24px;
  --text-size-2xl: 36px;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-round: 9999px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
   
  }
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type="file"] {
  max-width: 100%;
}
