.post {
  padding: 16px;
  border: 1px solid var(--border-block);
  border-radius: var(--radius-md);
  max-width: 392px;
}
.postImg {
  margin-bottom: 16px;
}
.postTag {
  padding: 4px 10px;
  color: var(--tag-block);
  background-color: var(--bg-tag);
  border-radius: var(--radius-sm);
  display: inline-block;
  font-size: var(--text-size-xs);
  font-weight: 500;
  margin-bottom: 16px;
}
.postTitle {
  font-size: var(--text-size-xl);
  font-weight: 600;
  margin-bottom: 20px;
}
.postUser {
  display: flex;
  align-items: center;
}
.postUserAvatar {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: var(--radius-round);
}
.postUserAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.postUserName {
  margin-left: 12px;
  color: var(--text-muted);
  font-weight: 500;
}
.postUserDate {
  margin-left: 20px;
  color: var(--text-muted);
}